/arubaDataset
/Book1(AutoRecovered).xlsx
/Dtree.ipynb
/myDataset
/mydecisiontree.png
/UCI ADL Binary Dataset
/kasterenDataset/log_labeled_test.csv
/kasterenDataset/log_labeled_trans.csv
/kasterenDataset/log_labeled.csv
/kasterenDataset/log_windowed_labeled.csv
/kasterenDataset/log_windowed.csv
/kasterenDataset/test.joblib
/kasterenDataset/mydecisiontree_classifier_test.png
Experiments - Linac/different/Lerror2_labeled.csv
Experiments - Linac/normal/Ltrain_labeled.csv
Experiments - Linac/normal/Ltrain_labeled_trans.csv
Experiments - Linac/shuffle/Lerror1_labeled.csv